.banner img{
    width: 100%;

}
.multidiv{
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
}
.multidiv .div1{
    height: 350px;
    width: 30%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.407);
}
.multidiv .div1 .subdiv1{
    padding: 5px;
    height: 150px;
    width: 150px;
    margin: 0 5px;
}
.multidiv .div1 .subdiv1 .imgbox{
    width: 100%;
    height: 100%;
}
.multidiv .div1 .subdiv1 .imgbox img{
    height: 100%;
    width: 100%;
}
.multidiv .div1 .subdiv1 h4{
    font-size: 14px;
    font-weight: 200;
    padding-top: 10px;
    text-align: center;
}
.name{
    display: flex;
    padding: 8px;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: x-large;
    background-color: rgb(251, 246, 239);
}


.new .multidiv{
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
  }
 .new  .multidiv .div1{
     border-radius: 5px;
      height: 300px;
      width: 33%;
      display: grid;
      justify-content: center;
      overflow: hidden;
      align-items: center;
      grid-template-columns: auto auto;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.092);
  }
  .new .multidiv .div1 img{
      height: 100%;
      width: 100%;
  }
