
.info-card{
    width: 100%;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    position: relative;
    cursor: pointer;
    padding: 0px 2vw;
    scroll-behavior: smooth;
}
.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 4px;
    text-align: center;
    font-family: arial;
    overflow-x: auto;
    border-radius: 10px;
  }
